@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.container {
    max-width: 900px;
}
.common-container {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
}
.gradient{
  @apply text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #8b5cf6, #ec4899);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #7c3aed, #db2777);
}